* {

    font-family: Vremena, Arial, Helvetica, sans-serif;
    text-align: center;
}


#centred-table {
    margin: 0px auto;
    border-collapse: collapse;
}


[id^="rf-row-"] {
    border-bottom: 1px solid black;
}

[id^="rf-cell-"] {
    height: 30px;
    width: calc(100vw - 100px);
}


#topic-heading {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

#candidate-label {
    background: rgb(var(--c));
    width: 600px;
    max-width: calc(100vw - 100px);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    font-size: min(40px, 10vw);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Vremena;
    overflow: visible;
}

#scribble {
    text-transform: lowercase;
    font-family: Peppa;
    font-size: 30px;

}



@font-face {
    font-family: Vremena;
    src: url("fonts/vremena-grotesk/VremenaGrotesk.otf");
}

@font-face {
    font-family: Peppa;
    src: url("fonts/Peppa\ Pig-FontZillion/peppa\ pig.ttf");
}