{% extends "base.html" %}

{% block content %}

<h1>Welcome to RBFB Custom</h1>
<table id="index-table">
<th id="index-left">Topic</th>
<th id="index-centre">Author</th>
<th id="index-right">Date Created</th>
    {% for post in posts|reverse %}
    <tr>
        <td id="index-left">
            <a href="/view/{{ post.urlval }}">{{ post.topic }}</a>
        </td>
        <td id="index-centre">
            <div>{{ post.author }}</div>
        </td>
        <td>
            <div id="index-right">{{ post.date }}</div>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}