{% extends "base.html" %}

{% block content %}

<h1>Creating Custom RBFB</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.topic.label }}
        {{ form.topic() }}
        {% for error in form.topic.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <table id="centred-table" style="white-space: nowrap">
        {% for q in form.questions %}
        <tr>
            <td> {{loop.index}}: </td>
            <td> {{ q.entry() }}
            </td>


            <td>
                <div class="fake">fake</div>
                <label class="switch">
                    {{ q.real() }}
                    <span class="slider"></span>
                </label>
                <div class="real">real</div>
            </td>


        </tr>
        <tr>
            <td>
                {% for error in q.entry.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}