{% extends "base.html" %} {% block content %}

<h1>
  <div id="scribble">Are these real</div>
  <div id="topic-heading">{{ topic }}?</div>
</h1>

{# Score image at the end #}
<div id="score-layout" style="display: none">
  <div><img id="score-image" /></div>
  <div>
    <form action="{{ url_for('index') }}">
      <input type="submit" value="Return Home" />
    </form>
  </div>

</div>

{# Current Candidate #}
<div id="candidate-container">
  {% for c in candidates %}
  <div id="candidate-{{ loop.index0 }}" class="candidate" style="display: none">
    <div id="candidate-label" style="--c: {{ rgb }}">
      {{ c[0] }}
    </div>
  </div>
  {% endfor %}
</div>

{# Answers #}
<table id="answer-table">
  {% for c in candidates %}
  <tr id="rf-row-{{ loop.index0 }}">
    <td id="rf-truth-{{ loop.index0 }}"> <span id="rf-truth-span"></span></td>
    <td id="rf-name-{{ loop.index0 }}"></td>
    <td id="rf-tick-{{ loop.index0 }}"></td>
  </tr>
  {% endfor %}
</table>

{# Real Fake Buttons #}
<table id="centred-table">
  {% for c in candidates %}
  <form>
    <tr id="buttons-{{ loop.index0 }}" style="display: none">
      <td>
        <button id="fake-button-{{ loop.index0 }}" type="button" onclick="answerCandidate({{ loop.index0 }}, false)">
          Fake
        </button>
        <button id="real-button-{{ loop.index0 }}" type="button" onclick="answerCandidate({{ loop.index0 }}, true)">
          Real
        </button>
      </td>
    </tr>
  </form>
  {% endfor %}
</table>



<script>
  const candidateData = {{ candidates| tojson }};
  console.log(candidateData);
  var answers = new Array(7);
  showCandidate(0)

  async function answerCandidate(candidateIndex, answer) {
    let correct = candidateData[candidateIndex][1] == answer
    document.getElementById("rf-truth-" + candidateIndex).textContent = (candidateData[candidateIndex][1] ? "Real" : "Fake")
    document.getElementById("rf-truth-" + candidateIndex).classList.add(candidateData[candidateIndex][1] ? "real" : "fake")
    document.getElementById("rf-name-" + candidateIndex).textContent = candidateData[candidateIndex][0]
    document.getElementById("rf-tick-" + candidateIndex).textContent = (correct ? "✔" : "✖")

    answers[candidateIndex] = correct
    let imgPromise = null
    // Start generating the score card if we're done
    if (candidateIndex == 6) {
      let score = answers.reduce(((p, c) => p + (c ? 1 : 0)), 0);
      imgPromise = fetch("/score?topic=" + encodeURIComponent("{{ topic }}") + "&rgb=" + encodeURIComponent("{{ rgb }}") + "&score=" + score)
        .then(r => r.blob())
        .then(blob => URL.createObjectURL(blob))
    } else {
      showCandidate(candidateIndex + 1)
    }
    hideButtons(candidateIndex)
    // Trigger the animation
    let row = document.getElementById("candidate-" + candidateIndex)
    row.classList.add(candidateData[candidateIndex][1] ? "slide-right" : "slide-left")
    if (!correct) {
      row.classList.add("wrong")
    }
    // Wait for that to be done before hiding this row and moving onto next
    row.addEventListener("transitionend", function handler(e) {
      if (e.propertyName !== "opacity") return;
      row.removeEventListener("transitionend", handler)
      hideRow(candidateIndex)
      // Game over: calculate score
      if (candidateIndex == 6) {
        document.getElementById("candidate-container").style.display = "none"
        document.getElementById("answer-table").style.display = "none"

        imgPromise.then(imgURL => {
          document.getElementById("score-image").src = imgURL
          document.getElementById("score-layout").style.display = "block"
        })
      }
    })
  }

  function hideRow(candidateIndex) {
    document.getElementById("candidate-" + candidateIndex).style.display = "none"
  }

  function hideButtons(candidateIndex) {
    document.getElementById("buttons-" + candidateIndex).style.display = "none"
  }

  function showCandidate(candidateIndex) {
    document.getElementById("candidate-" + candidateIndex).style.display = "block"
    document.getElementById("buttons-" + candidateIndex).style.display = "block"
  }
</script>

{% endblock %}